@{
    ViewBag.Title = "Просмотр погоды";
}


<div>
    <h3>Погода в Москве</h3>
    <form method="get">
        <div class="form-inline">
            <label class="control-label"> Год: </label>
            @Html.DropDownList("year", Model.Year as SelectList,
                    htmlAttributes: new { @class = "form-control" })
            <label class="control-label"> Месяц: </label>
            @Html.DropDownList("month", Model.Month as SelectList,
                    htmlAttributes: new { @class = "form-control" })
            <input type="submit" value="Жмяк" class="btn btn-default" />
            <br />@ViewBag.Message
        </div>
    </form>
    <table id="weather">
        <tr>
            <td><p>Дата</p></td>
            <td><p>Время</p></td>
            <td><p>Температура,<br />°C</p></td>
            <td><p>Влажность,<br />%</p></td>
            <td><p>Точка росы,<br />°C</p></td>
            <td><p>Давление,<br />мм рт. ст.</p></td>
            <td><p>Направление ветра</p></td>
            <td><p>Скорость ветра,<br />м/с</p></td>
            <td><p>Облачность,<br />%</p></td>
            <td><p>Нижняя граница облачности,<br />м</p></td>
            <td><p>Горизонтальная видимость,<br />км</p></td>
            <td><p>Погодные явления</p></td>
        </tr>
        @foreach (var data in Model.Weathers)
        {
            <tr>

                <td><p>@data.WeatherDateTime.ToString("d")</p></td>
                <td><p>@data.WeatherDateTime.TimeOfDay</p></td>
                <td><p>@data.Temperature</p></td>
                <td><p>@data.Humidity</p></td>
                <td><p>@data.Dewpoint</p></td>
                <td><p>@data.Pressure</p></td>
                <td><p>@data.WindDirection</p></td>
                <td><p>@data.WindSpeed</p></td>
                <td><p>@data.Cloudiness</p></td>
                <td><p>@data.LowCloudCover</p></td>
                <td><p>@data.HorizontalVisibility</p></td>
                <td><p>@data.WeatherConditions</p></td>

            </tr>
        }
    </table>
</div>
